{% extends "admin_paginas/adminbase.html" %}

{% block title %}
    PWJ - Adminstrador
{% endblock title %}


{% block style %}
    <style>
        .btn {
            font-family: "Ralaway", sans-serif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 30px;
            border-radius: 50px;
            transition: 0.55s;
            color: rgb(255, 255, 255);
            background-color: green;
          
        }
    </style>


{% endblock style %}


{% block body %}

<section id="contact" class="contact">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <div class="row d-flex justify-content-center">

                <div class="form-group col-md-6 ">
                    <br>

                    


                    <h1 data-aos="fade-up">Login</h1>
                    <div class="container-fluid" data-aos="fade-up" data-aos-delay="400"></div>


                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}


                        <section class="border shadow">
                    
                    
                            <h2 style="padding-bottom: 10px;" class="titulo">Área do Adminstrador</h2>
                            <div class="row">
                                <div class="col-lg-6 mx-auto">

                                    <style>
                                        .errorlist{
                                            color: red;
                                            list-style: none;
                                        }
                                    </style>

                                    <form class="form-container form-bg-login" action="" method="POST">{% csrf_token %}
                                        
                                        {{form.as_p}}   
                                        <button type="submit" class="btn  btn-outline-success btn-lg mt-4">Entrar</button>     
                                        {% if error %}  
                                        
                                            <li style="color: red; list-style: none;">{{error}}</li>


                                        {% endif %}

                    
                                    </form>
                                </div>
                            </div>
                        </section>

                </div>

            </div>

        </div>
    </div>
</section>
    

                
 {% endblock body %}